
#botona{
    width: 100px;
    height: 100px;
    front size: 100px;

}
#botonb{
    width: 100px;
    height: 100px;
    front size: 100px;

}
#botonsuma{
    width: 100px;
    height: 100px;
    front size: 100px;

}
#botondivision{
    width: 100px;
    height: 100px;
    front size: 100px;
}
#botondivision{
    width: 100px;
    height: 100px;
    front size: 100px;

}
#botonmultiplicacion{
    width: 100px;
    height: 100px;
    front size: 100px;

}
#botonmodulo{
    width: 100px;
    height: 100px;
    front size: 100px;

}

